.page-container .container {
    width: calc(100% - 280px);
    border-radius: 10px;
    height: auto;
    padding: 10px;
    transition: all 0.15s;
    overflow-y: auto;
    padding-top: 100px;
}

#subham {
    display: none;
    position: absolute;
    font-size: 1.2em;
    top: 40px;
    left: 15px;
    font-weight: 700;
    background-color: #0000005e;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 5px;
    flex-shrink: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.page-container .album-container {
    border-radius: 10px;
    padding: 0 10px;
}

.album-container .songs-container {
    padding: 100px 0;
    overflow-y: scroll;
    height: auto;
}

.songs-container::-webkit-scrollbar {
    display: none;
}

.container .header {
    background-color: #0000005e;
    height: 60px;
    position: absolute;
    top: 20px;
    backdrop-filter: blur(5px);
    padding: 0px 30px;
    border-radius: 10px;
    flex-shrink: 0;
    right: 20px;
    left: 310px;
}

.album-container .header {
    background-color: #0000005e;
    height: 60px;
    position: absolute;
    top: 20px;
    backdrop-filter: blur(5px);
    padding: 0px 30px;
    border-radius: 10px;
    flex-shrink: 0;
    right: 20px;
    left: 20px
}


.header .back {
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    margin-right: 10px;
}

.header div:last-child {
    margin: 0;
}

.header .header-search {
    font-size: 1.5em;
    cursor: pointer;
}

.all-header {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 0.7em;
    margin-bottom: 20px;
    height: 20px;
}

.all-header div:first-child{
    font-size: 1.6em;
}
.all-header div {
    cursor: pointer;
}

.all-header div:hover {
    text-decoration: underline;
}

.songs-container .creators{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.songs-container .popular-albums {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.creators .artists, .popular-albums .cards {
    width: 100%;
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    column-gap: 5px;
    flex-shrink: 0;
}

.popular-albums .cards {
    height: auto;
}


@media (min-width: 1601px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto auto auto auto auto auto auto;

    }
    .container .hamburger, .album-container .hamburger {
        display: none;
    }
}



@media (min-width: 1540px) and (max-width: 1600px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto auto auto auto auto auto;

    }
    .container .hamburger, .album-container .hamburger {
        display: none;
    }
}


@media (min-width: 1400px) and (max-width: 1539px) {
    .creators .artists, .popular-albums .cards {

        grid-template-columns: auto auto auto auto auto auto auto;

    }
    .container .hamburger, .album-container .hamburger {
        display: none;
    }
}


@media (min-width: 1243px) and (max-width: 1399px) {
    .creators .artists, .popular-albums .cards {
 
        grid-template-columns: auto auto auto auto auto auto;

    }
    .container .hamburger, .album-container .hamburger {
        display: none;
    }
}

@media (min-width: 1090px) and (max-width: 1242px) {
    .creators .artists, .popular-albums .cards {

        grid-template-columns: auto auto auto auto auto;

    }
    .container .hamburger, .album-container .hamburger {
        display: none;
    }
}

@media (min-width: 950px) and (max-width: 1089px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto auto auto;
    }
    .page-container .container {
        width: 100%;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
    }
    .container .hamburger, .album-container .hamburger {
        opacity: 1;
    }
}


@media (min-width: 800px) and (max-width: 949px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto auto;
    }
    .page-container .container {
        width: 100%;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
    }
    .container .hamburger, .album-container .hamburger {
        opacity: 1;
    }
}


@media (min-width: 650px) and (max-width: 799px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto auto;
    }
    .page-container .container {
        width: 100%;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
    }
    .container .hamburger, .album-container .hamburger {
        opacity: 1;
    }
}


@media (min-width: 500px) and (max-width: 649px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto auto;
    }
    .page-container .container {
        width: 100%;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
    }

    .container .hamburger, .album-container .hamburger {
        opacity: 1;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto;
    }
    .page-container .container {
        width: 100%;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
    }

    .container .hamburger, .album-container .hamburger {
        opacity: 1;
    }

}



@media (min-width: 0px) and (max-width: 399px) {
    .creators .artists, .popular-albums .cards {
        grid-template-columns: auto auto;
    }
    .page-container .container {
        width: 100%;
        height: auto;
    }
    .page-container .left-contents {
        display: none;
    }
    .container .header, .album-container .header {
        background-color: #0000005e;
        width: calc(100% - 100px);
        height: 60px;
        position: absolute;
        top: 20px;
        backdrop-filter: blur(5px);
        padding: 0px 30px;
        border-radius: 10px;
        flex-shrink: 0;
        left: 18px;
        z-index: 100;
    }

    .container .hamburger, .album-container .hamburger {
        visibility: visible;
    }

}



.container .hamburger, .album-container .hamburger {
    background-color: #0000005e;
    padding: 18px;
    position: absolute;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-bottom: 30px;
    flex-shrink: 0;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    top: 20px;
    right: 18px;
    z-index: 100;
}

.artists .artist, .cards .each-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.15s;
}

.container .hamburger-menu, .album-container .hamburger-menu {
    width: 210px;
    background-color: #23444b;
    border-radius: 10px;
    border: 2px solid #000;
    position: absolute;
    right: 10px;
    display: none;
    top: 10px;
    bottom: 0px;
    z-index: 2;
}

.artist:hover, .each-card:hover {
    background-color: #ffffff15;
}

.artists .artist .artist-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #0C1622;
    margin: 0 auto;
}

.each-card .card-picture {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.artist .name, .each-card .card-name {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
    font-weight: 500;
}

.artist .passion, .each-card .description {
    font-size: 0.7em;
}

.artist:last-child {
    margin-right: 0;
}

.artist-picture .artist-image, .card-picture .album-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-container .album-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.individual-container {
    height: 1000px;
}


.album-container .player {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
    align-items: center;
    position: sticky;
    bottom: 20px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: all 0.15s;
    height: 70px;
    flex-shrink: 0;
    justify-content: space-between;
}

.player .seekbar {
    height: 5px;
    border-radius: 10px;
    background-color: #ffb6b6;
    position: absolute;
    width: 100%;
    bottom: 5px;

}

.player .seeker {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0%;
}

.player .song-name {
    width: 145px;
    height: 30px;
    word-wrap: break-word;
    line-height: 15px;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.player .player-button {
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.player-button div {
    width: 25px;
}

.player .song-timer {
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}