@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #98d6bd;
    font-family: "Roboto Condensed";
    overflow: hidden;
}

body {
    /* background-color: #0C1622; */
    background-color: #000;
    width: 100vw;
    height: 100vh;
} 

.page-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.page-container .left-contents {
    height: 100%;
    width: 280px;
    margin-right: 10px;
}

.left-contents .home {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 15px;
    justify-content: space-around;
}

.home .header {
    width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}

.header .logo-image {
    height: 30px;
    object-fit: contain;

}

.home .icon {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.home .icon:last-child {
    margin-bottom: 0;
}

.icon i {
    font-size: 25px;
    margin-right: 10px;
}

.icon span {
    font-weight: 600;
}

.left-contents .library {
    width: 100%;
    height: calc(100% - 260px);
    border-radius: 10px;
}

.page-container .songs-container {
    height: 100%;
    width: calc(100% - 280px);
    border-radius: 10px;
}